<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Blog</title>
  <style>
    body {
      background-color: #343a40; /* Dark background color */
      color: #090909; /* Text color */
    }
    .container {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }
    img.profile-img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .blog-cover {
      max-width: 100%;
      height: auto;
      margin-top: 15px;
    }
    .comment-box {
      background-color: #f8f9fa;
      padding: 8px;
      border-radius: 5px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <h1><%= blog.title %></h1>
    <img src="<%= blog.coverImageURL %>" class="blog-cover" alt="Blog Cover Image" width="450px"/>
    
    <% if (locals.user) { %>
      <% if (user._id == blog.createdBy._id) { %>
        <br>
        <a class="btn btn-sm btn-primary mt-2" href="/blog/x/<%= blog._id %>/edit">Edit</a>
      <% } %>
    <% } %>
    <pre class="mt-3"><%= blog.body %></pre>
  </div>

  <div class="container mt-4">
    <img src="<%= blog.createdBy.profileImageURL %>" class="profile-img" alt="User Profile Image" width="50%" />
    <%= blog.createdBy.fullname %>
  </div>

  <div class="container mt-3">
    <h1>Comments (<%= comments.length %>)</h1>
    <% if (locals.user) { %>
    <form action="/blog/x/comment/<%= blog._id %>" method="post">
      <div class="mb-3 comment-box">
        <input
          type="text"
          name="content"
          class="form-control"
          placeholder="Enter your comment"
        />
        <button class="btn btn-sm btn-primary mt-2" type="submit">Add</button>
      </div>
    </form>
    <% } %>
    <div class="mt-3">
      <% comments.forEach(comment => { %>
      <div class="mb-3 comment-box">
        <img src="<%= comment.createdBy.profileImageURL %>" class="profile-img" alt="User Profile Image" />
        <strong><%= comment.createdBy.fullname %></strong> <!-- Displaying the user's full name -->
        <pre><%= comment.content %></pre>
      </div>
      <% }) %>
    </div>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
