<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Reset Password</title>
</head>
<body class="bg-dark text-light">

  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <div class="card bg-light text-dark">
      <div class="card-body">
        <h2 class="card-title mb-4">Reset Password</h2>
        <form action="/password-reset/pass/<%= id %>/<%= token %>" method="post">
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
